body{
    padding-left: 4%;
     padding-right: 4%;
}
.font-top-div{
    font-size: 12px;
}
#Login{
    background-color: #1e1e3f;
}
#search{
    background:linear-gradient(#FFB75E,#ff6b00);
    width: 7rem;
}
#big-box{
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 10%;
    background-color: #ff6b00;
    height: 450px;
}

#main1{
    background-color: #f7f9fc;
    border-color: #6c757d;
    flex-wrap: wrap;
    height: 500px;
}

#main1-box1{
     
    width: max-content;
    transition: margin-top 0.5s;
}
#main1-box2{ 
     width:max-content;
    transition:  margin-bottom 1s;
 }

#main1-box1:hover{
    margin-top: -10px;
    
}
#main1-box2:hover{
    margin-bottom: 20px;
    
}

.btn-border-color{
    border-color: #6c757d;
    color: #6c757d;
    transition: all 0.7;
}
.btn-border-color:hover{
    background-color: #ff6b00;
    color: white;
    font-weight: bold;
}

#main2-para{
    color: #ff6b00;
}
#main1-inner-1{
    width: 350px;
}
#main1-inner-2{
    width: 350px;
}
#main1-div2{
    height: 450px;
    width: 50%;
    background-color: #ff9100;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 30px;
}
#main2-card1{
    width: 23rem;
    background: url('../src/image/pancakes.jpg');
    background-size: cover;
    height: 16rem;
    transition: transform 0.5s;
}

#main2-card1:hover{
    transform: translateY(-15px);
}

#main2-card2{
    width: 23rem;
    background: url('../src/image/hamburger.jpg');
    background-size: cover;
    height: 16rem;
     transition: transform 0.5s;
}
#main2-card2:hover{
    transform: translateY(-15px);
}
#main2-card3{
    width: 23rem;
    background: url('../src/image/japanese-sushi.jpg');
    background-size: cover;
    height: 16rem;
     transition: transform 0.5s;
}
#main2-card3:hover{
    transform: translateY(-15px);
}
.card-p-down{
    bottom: 60px;
}
.card-h3-down{
     bottom: 30px;
     font-weight: bolder;
}

.offer-div{
    right: 20px;
    top: 20px;
    background-color: #1e1e3f;
}
.main2-order-card{
    transition: transform 0.5s;
}

.main2-order-card:hover{
    transform: translateY(-15px);
}
#section3-h1{
    font-size: 55px;
     font-weight: 900;
      color:#1e1e3f
}
#section3{
    background-color: #f7f9fc;
}
#section3-img{
    width: 30rem;
    height: 20rem;
}

#section-4{
    width: 90vw;
    background-color: #bbb;
    padding: 15px;
}

.left{
    width: 41vw;
    background-color: #1e1e3f;
}
.right{
    width: 41vw;
    background-color:#6b5b45;
}
.div-getStarted{
      background:linear-gradient(#ff6b00,#FFB75E);
      bottom: 30px;
      left: 40px;
      transition: transform 1s;
}
.div-getStarted:hover{
    transform: translateY(-5px);
    box-shadow: 2px 2px 10px  #ff6b00;
}

#section4-right{
    background: linear-gradient(135deg, #8b7355 0%, #6b5b45 100%)
}
.left-img{
    height: 350px;
    background-color: #1e1e3f;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

.div1{
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 14px;
    color: #1e1e3f;
    border-radius: 50px;

}
.div2{
    font-size: 15px;
    color: #ff6b00;
}
.div3{
    font-size: 40px;
    font-weight: bold;
}
.div4{
    color: #1e1e3f;
    font-weight: bold;
    border-radius: 50px;
    width: fit-content;
    padding: 7px;
    padding-left: 14px;
     padding-right: 14px;
    margin-top: 25px;
}
#section-5{
    height: 200px;
    background-color:#ff9100;
}
.section5-h1{
    font-size: 50px;
    font-weight: 900;
}
.secttion4-border{
    border-right: 2px solid white;
    width:280px;
}
#section6{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 160px;
}

#section6-div{
    display: flex;
    column-gap: 10px;
}
#section6-div img{
    width: 120px;
    height: 40px;
}
#section6-first p{
    font-size: 10px;
}
#section6-btn-color{
    background-color: #ff9100;
    width: 100px;
}
#section6-input{
    border: 1px solid #bbb;
    padding: 10px;

}
#section6-small{
    font-size: smaller;
    color: #adaaaa;
}
#section6-list{
    color:grey;
    
}
#offcanvas-width{
    width: 30%;
}
@media screen and (max-width:1024px){

#main1{
    height: 1000px;
}

#main1-inner-1{
    width: 280px;
}
#main1-inner-2{
    width: 280px;
}
#main1-div2{
    width: 100%;
    height: 400px;
}

#main1-div-1{
    padding-top: 20px;
    padding-left: 20px;
}
#main1-input{
    width: 200px;
}
.main1-font{
    font-size: 14px;
}
#main2-button{
    overflow-x: scroll;
}
#section3-img{
    width: 18rem;
    height: 15rem;
}
.left{
    width: 100%;
}
.left-img{
    height: 180px;
    background-color: #1e1e3f;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}
.right{
    width: 100%;
    background-color:#6b5b45;
}
.div1{
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    color: #1e1e3f;
    border-radius: 50px;

}
.div2{
    font-size: 12px;
}
.div3{
    font-size: 26px;
    font-weight: bold;
}
.div4{
    color: #1e1e3f;
    font-weight: bold;
    border-radius: 50px;
    width: fit-content;
    padding: 7px;
    margin-top: 10px;
    font-size: small;
}
#section-4{
    width: 90vw;
    background-color: #bbb;
    padding: 0px;
}
#section-5{
    height: 100%;
    background-color:#ff9100;
}
.section5-h1{
    font-size: 37px;
    font-weight: 900;
}
.secttion4-border{
    border-right: 0px;
}
#section6-div img{
    width: 100px;
}
#section6-first p{
    font-size: 13px;
}
#section6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    
}
.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
#offcanvas-width{
    width: 40%;
}
}

 